<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @user.uid %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Blockeduntil:</strong>
  <%= @user.blockeduntil %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @user.locale %>
</p>

<%= link_to 'Back', users_path %>
