<h1>Home#index</h1>
        <% if current_user %>
          <li>Signed in as <%= current_user.username %></li>
        <% else %>
          <li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>
        <% end %>
