<p id="notice"><%= notice %></p>

<h1>Challenges</h1>

<table>
  <tbody>
    <% @challenges.active.each do |challenge| %>
      <tr>
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <% if challenge.filetype == 'photo' %>
        <div class="card-image">
          <%= image_tag(challenge.get_file) %>
          <span class="card-title"><%= challenge.formatted_title %></span>
        </div>
        <% end %>
        <div class="card-content">
          <p><%= challenge.formatted_text(current_user) %></p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Challenge', new_challenge_path %>
