<!DOCTYPE html>
<html>
  <head>
    <title>TelegramBotApp</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Chllng</a>
      <ul class="right hide-on-med-and-down">
        <li><% if current_user %>
          <%= link_to "Signout", signout_path_url %>
        <% else %>
          <%= link_to "Signin", signin_path_url %>
        <% end %></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><% if current_user %>
          <%= link_to "Signout", signout_path_url %>
        <% else %>
          <%= link_to "Signin", signin_path_url %>
        <% end %></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <%- end -%>
  <%= yield %>

  </body>
</html>
